<!---->
<div ngClass="filter">
  <div ngClass="fr">
    <div ngClass="col order">
      <div ngClass="input-field inline order-position-input">
        <input type="number" id="number" min="1">
        <label for="number">Номер заказа</label>
      </div>
    </div>
    <div ngClass="col filter-pickers">
      <div ngClass="input-field">
        <input type="text" ngClass="datepicker">
        <label>Начало</label>
      </div>

      <div ngClass="input-field">
        <input type="text" ngClass="datepicker">
        <label>Конец</label>
      </div>
    </div>
  </div>

  <button ngClass="btn waves-effect wavers-light btn-small">Применить фильтр</button>
</div>
