<!---->
<div ngClass="filter">

  <!---->
  <div ngClass="fr">

    <!--  -->
    <div ngClass="col order">
      <div ngClass="input-field inline order-position-input">
        <input
          type="number"
          id="orderNumberField"
          min="1"
          [(ngModel)]="order"
        >
        <label for="orderNumberField">
          Номер заказа
        </label>
      </div>
    </div>

    <!--  -->
    <div ngClass="col filter-pickers">

      <!--  -->
      <div ngClass="input-field">
        <input
          type="text"
          id="orderStartField"
          [(ngModel)]="orderStartField.date"
          #orderStartField
        >
        <label for="orderStartField">
          Начало
        </label>
      </div>

      <!--  -->
      <div ngClass="input-field">
        <input
          type="text"
          id="orderEndField"
          [(ngModel)]="orderEndField.date"
          #orderEndField
        >
        <label for="orderEndField">
          Конец
        </label>
      </div>

    </div>

  </div>

  <!--  -->
  <button
    ngClass="btn waves-effect wavers-light btn-small"
    (click)="submitFilter()"
    [disabled]="!isValid"
  >
    Применить фильтр
  </button>
</div>
