<!--  -->
<div ngClass="page-title">
  <h4 *ngIf="isRoot">Заказ</h4>
  <h4 *ngIf="!isRoot">
    <a [routerLink]="['/order']">Заказ</a>
    <i ngClass="material-icons">keyboard_arrow_right</i>
    Добавить продукцию
  </h4>
  <button
    ngClass="waves-effect btn grey darken-1"
    *ngIf="!isRoot"
    (click)="openModalExploreOrder()"
  >
    Завершить
  </button>
</div>

<!--  -->
<router-outlet></router-outlet>

<!--  -->
<div #modalExploreOrder ngClass="modal modal-fixed-footer">
  <!---->
  <div ngClass="modal-content">
    <h4 ngClass="mb1">Ваш заказ</h4>
    <!---->
    <table ngClass="highlight">
      <!---->
      <thead>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>
      <!---->
      <tbody>
      <tr>
        <td>Alvin</td>
        <td>3</td>
        <td>$0.87</td>
        <td><i ngClass="material-icons pointer">delete</i></td>
      </tr>
      </tbody>
    </table>
    <!---->
    <div ngClass="order-summary">
      <p>Общая стоимость <strong>22 231 руб.</strong></p>
    </div>
  </div>
  <!---->
  <div ngClass="modal-footer">
    <!---->
    <button
      ngClass="modal-action waves-effect waves-black btn-flat"
      (click)="cancelModalExploreOrder()"
    >
      Отмена
    </button>
    <!---->
    <button
      ngClass="modal-action btn waves-effect"
      (click)="submitModalExploreOrder()"
    >
      Подтвердить
    </button>
  </div>
</div>
