<!--  -->
<div ngClass="page-title">
  <h4 *ngIf="isRoot">Заказ</h4>
  <h4 *ngIf="!isRoot">
    <a [routerLink]="['/order']">Заказ</a>
    <i ngClass="material-icons">keyboard_arrow_right</i>
    Добавить продукцию
  </h4>
  <button
    ngClass="waves-effect btn grey darken-1"
    *ngIf="!isRoot"
    (click)="openModalExploreOrder()"
    [disabled]="order.list.length === 0"
  >
    Завершить
  </button>
</div>

<!--  -->
<router-outlet></router-outlet>

<!--  -->
<div #modalExploreOrder ngClass="modal modal-fixed-footer">
  <!---->
  <div ngClass="modal-content">
    <h4 ngClass="mb1">Ваш заказ</h4>
    <div *ngIf="order.list.length !== 0; else empty">
      <!---->
      <table ngClass="highlight">
        <!---->
        <thead>
          <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th></th>
          </tr>
        </thead>
        <!---->
        <tbody>
          <tr *ngFor="let item of order.list">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.cost * item.quantity}}</td>
            <td>
              <button
                ngClass="waves-effect waves-teal btn-flat"
                type="button"
                [disabled]="pending"
              >
                <i
                  ngClass="material-icons pointer"
                  (click)="removePosition(item)"
                >
                  delete
                </i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!---->
      <div ngClass="order-summary">
        <p>Общая стоимость <strong>{{order.price}} руб.</strong></p>
      </div>
    </div>
    <ng-template #empty>
      <div class="center">
        Нет выбранных позиций
      </div>
    </ng-template>
  </div>

  <!---->
  <div ngClass="modal-footer">
    <!---->
    <button
      ngClass="modal-action waves-effect waves-black btn-flat"
      (click)="cancelModalExploreOrder()"
      [disabled]="pending"
    >
      Отмена
    </button>
    <!---->
    <button
      ngClass="modal-action btn waves-effect"
      (click)="submitModalExploreOrder()"
      [disabled]="order.list.length === 0 || pending"
    >
      Подтвердить
    </button>
  </div>
</div>
