<div ngClass="row">
  <div ngClass="col s12">
    <div ngClass="page-subtitle">
      <!-- -->
      <h4>Позиции:</h4>
      <!-- -->
      <button
        ngClass="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="openNewPositionModal()"
      >
        Добавить позицию
      </button>
    </div>


    <!-- -->
    <div *ngIf="!loading; else loader">
      <div ngClass="collection" *ngIf="positions.length > 0; else empty">
        <!-- -->
        <a
          ngClass="collection-item collection-item-icon"
          tabindex="0"
          role="button"
          *ngFor="let position of positions"
          (keypress)="openSelectPositionModal(position)"
          (click)="openSelectPositionModal(position)"
        >
          <span>{{position.name}} <strong>{{position.cost}} руб.</strong></span>
          <span (click)="deletePosition($event, position)">
            <i ngClass="material-icons">
              delete
            </i>
          </span>
        </a>
      </div>
    </div>

    <!-- -->
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>

    <!-- -->
    <ng-template #empty>
      <div ngClass="center">
        В категории нет позиций
      </div>
    </ng-template>
  </div>
</div>

<!-- -->
<form [formGroup]="form" (ngSubmit)="onSubmmit()">
  <div ngClass="modal" #modalCreate>
    <!-- -->
    <div ngClass="modal-content">
      <!-- -->
      <h4 ngClass="mb1">Добавить позицию</h4>
      <!-- -->
      <div ngClass="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
        >
        <label for="pos-name">Название</label>
        <span
          ngClass="helper-text red-text"
          *ngIf="form.get('name').invalid && form.get('name').touched"
        >
          Название позиции не может быть пустым.
        </span>
      </div>
      <!-- -->
      <div ngClass="input-field">
        <input
          formControlName="cost"
          id="pos-cost"
          type="number"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
        >
        <label for="pos-cost">Цена</label>
        <span
          ngClass="helper-text red-text"
          *ngIf="form.get('name').invalid && form.get('name').touched"
        >
          Минимальная цена не может быть меньше 1.
        </span>
      </div>
    </div>
    <!-- -->
    <div ngClass="modal-footer">
      <!-- -->
      <button
        ngClass="modal-action waves-effect waves-black btn-flat"
        type="button"
        (click)="closeModal()"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <!-- -->
      <button
        ngClass="modal-action btn waves-effect"
        type="submit"
        [disabled]="form.disabled || form.invalid"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>
